<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979366669229-gd1sdsme4u5dmvifs8lnrg3tdi2h5rf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979366669229-gd1sdsme4u5dmvifs8lnrg3tdi2h5rf1</string>
	<key>API_KEY</key>
	<string>AIzaSyCLQ1CdQ9hvftqjwwC8DDWgNrdBOdpQXzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>979366669229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.offensively-bad.NShapeSets</string>
	<key>PROJECT_ID</key>
	<string>nshape-sets</string>
	<key>STORAGE_BUCKET</key>
	<string>nshape-sets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979366669229:ios:02e46d2ea990fcbd378f24</string>
	<key>DATABASE_URL</key>
	<string>https://nshape-sets.firebaseio.com</string>
</dict>
</plist>